.header {
  font-family: 'Gilroy-Bold';
  font-size: 34px;
  text-align: center;
  margin: 0 0 40px 0;
}

.info p {
  font-family: 'Gilroy-Medium';
  font-size: 18px;
  text-align: center;
  white-space: pre-wrap;
}
.info :nth-child(2) {
  margin: 50px 0;
}