.btn {
  width: 180px;
  height: 42px;
  margin: 0 0 85px 0;
  border: none;
  border-radius: 20px;
  background: black;
  font-family: 'Gilroy-Bold';
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.5s ease;
}


