nav {
  margin-bottom: 40px;
}

nav ol {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 33px 0 32px 0;
}

nav ol li a {
  font-family: Gilroy-Bold;
  text-decoration: none;
  color: #828282;
  font-size: 18px;
  transition: 0.3s ease all;
}

nav ol li a:hover {
  color: black;
  transition: 0.3s ease all;
}

.line {
  width: 940px;
  height: 1px;
  background: #828282;
  margin: 0 auto;
}
