.sectionSkills {
  padding: 91px 0 110px 0;
}

.header {
  font-family: 'Gilroy-Bold';
  font-size: 34px;
  text-align: center;
  margin: 0 0 70px 0;
}

.subHeader {
  font-family: 'Gilroy-Medium';
  font-size: 18px;
  text-align: center;
  margin: 0 0 83px 0;
}