@font-face {
  font-family: "Gilroy-Bold";
  src: url("assets/fonts/Gilroy-Bold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("assets/fonts/Gilroy-Medium.woff") format("woff");
}
